<footer class="site-footer">
  <div class="container">

    <div class="links flex">

      <a href="/" class="footer-logo flex">
        <div class="illustration">
          <img data-src="/assets/images/footer-logo.svg" loading="lazy" alt="Croix Hollow" height="300" width="134" />
        </div>
        <h2>Croix<br />Hollow</h2>
      </a>

      <div class="links-right flex">

        <div class="booking-links flex">
          <a href="{{ site.airbnb_url }}" target="_blank" title="Croix Hollow on AirBnB">
            <img data-src="/assets/images/airbnb.svg" loading="lazy" alt="Croix Hollow on AirBnB" height="94"
              width="300" />
          </a>
          <a href="{{ site.vrbo_url }}" target="_blank" title="Croix Hollow on VRBO">
            <img data-src="/assets/images/vrbo.png" loading="lazy" alt="Croix Hollow on VRBO" height="128"
              width="400" />
          </a>
        </div>

        <div class="social-links flex">
          <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank" title="Croix Hollow on Instagram">
            <i class="demo-icon icon-instagram-filled"></i>
          </a>
          <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank" title="Croix Hollow on Facebook">
            <i class="demo-icon icon-facebook-rect"></i>
          </a>
        </div>

      </div>

    </div>

    <div class="copyright">
      <p>All content appearing on this website is proprietary, copyrighted, and owned or licensed by Erin and Todd
        Gardner. Any unauthorized use of trademarks or content from this website is strictly prohibited. All rights
        reserved.</p>
      <p>&copy; 2021-{{ site.time | date: '%Y' }} Erin and Todd Gardner.</p>
    </div>

  </div>
</footer>