body.index {

  // defaults so that parallax works at the section level
  main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }

  section {
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  section.hero {

    .container {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    // Parallax
    background-color: transparent;
    z-index: inherit;
    &::after {
      content: " ";
      position: absolute;
      top: -12vh;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(-1px) scale(1.5);
      background-size: 100%;
      z-index: -1;
      background-image: linear-gradient(rgba($dark-grey, 0.5), rgba($dark-grey, 0.8), $dark-grey, $dark-grey), url("/assets/images/hero.jpg");
      background-size: cover;
      background-position: center, center;
    }

    .logo-illustration {
      background-image: radial-gradient(rgba($dark-grey,.8), rgba($dark-grey,0.6), transparent, transparent);
      max-width: 580px;
      width: 100%;
      height: auto;

      @media (max-width: 600px) {
        max-width: 90%;
      }
    }

    h1.logo {
      font-family: $logo-font-family;
      font-weight: bold;
      margin: 10px 0;
      letter-spacing: -.3rem;
      text-align: center;
      font-size: 5rem;
      color: white;
      @media (max-width: 600px) {
        font-size: 13vw;
      }
    }

    h2.description {
      max-width: $max-text-width;
      text-align: center;
      font-weight: 100;
      color: $cream;
      font-size: 1.6rem;
      margin: 0;
    }
  }

  section.booking {
    padding: 30px 0;
    background-color: $dark-grey;

    label {
      margin-right: 10px;
      span {
        color: darken($stone, 10%);
        font-size: 0.8em;
      }
    }
    input[type=date] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;

      font-size: 1.4em;
      font-weight: 100;
      text-align: center;
      padding: 6px 12px;
      border-radius: 6px;
      border: none;
      background-color: $stone;
    }
    button[type=submit] {
      margin-top: 14px;
      border-radius: 6px;
      border: none;
      padding: 8px 24px;
      font-size: 1.4em;
      background-color: $green;
      color: $stone;
      cursor: pointer;
    }

    @media(max-width: 610px) {
      form {
        flex-direction: column;
        width: 100%;
        & > * {
          margin: 0 20px 10px;

        }
      }
    }
  }

  section.hero {






  }

  .filler {
    height: 500px;
  }

}

