body.index {

  // defaults so that parallax works at the section level
  main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    background-color: $dark-grey;
    color: $stone;
  }

  section {
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  section.hero {

    .container {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    // Parallax
    background-color: transparent;
    z-index: inherit;
    &::after {
      content: " ";
      position: absolute;
      top: -12vh;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(-1px) scale(1.5);
      background-size: 100%;
      z-index: -1;
      background-image: linear-gradient(rgba($dark-grey, 0.5), rgba($dark-grey, 0.8), $dark-grey, $dark-grey), url("/assets/images/hero.jpg");
      background-size: cover;
      background-position: center, center;
    }

    .logo-illustration {
      background-image: radial-gradient(rgba($dark-grey,.8), rgba($dark-grey,0.6), transparent, transparent);
      max-width: 580px;
      width: 100%;
      height: auto;

      @media (max-width: 600px) {
        max-width: 90%;
      }
    }

    h1.logo {
      margin: 10px 0;
      text-align: center;
      font-size: 4.5rem;
      color: $stone;
      @media (max-width: 600px) {
        font-size: 13vw;
      }
    }

    h2.description {
      font-family: $base-font-family;
      max-width: $max-text-width;
      text-align: center;
      font-weight: 100;
      letter-spacing: -.05em;
      color: $cream;
      font-size: 1.6rem;
      margin: 0;
    }
  }

  section.booking {
    padding: 30px 0;
    background-color: $dark-grey;

    label {
      margin-right: 10px;
      span {
        color: darken($stone, 10%);
        font-size: 0.8em;
      }
    }

    button[type=submit] {
      margin-top: 14px;
      font-size: 1.1em;
      font-weight: bold;
    }

    @media(max-width: 610px) {
      form {
        flex-direction: column;
        width: 100%;
        & > * {
          margin: 0 20px 10px;
        }
        button[type=submit] {
          margin-top: 0;
        }
      }
    }
  }

  section.quote {
    padding: 100px 0;
    background-color: $khaki;
    p {
      color: $grey;
      font-size: 1.4em;
      font-family: 'Courier New', Courier, monospace;
      line-height: 1.3em;
      max-width: 760px;
      text-align: center;
    }
    .rating {
      width: 200px;
    }
  }


  section.newsletter {
    padding: 60px 0;
    background-image: linear-gradient($grey, $dark-grey);
    color: $stone;

    h2 {
      font-size: 2em;
    }

    .form-wrap {
      align-items: center;

      form {
        max-width: 320px;
        p {
          font-size: 1.1em;
        }
      }

      label {
        margin-bottom: 8px;
      }

      input[type=submit] {
        margin-top: 14px;
        font-size: 1.1em;
        font-weight: bold;
      }
    }

    .illustration {
      margin-right: 60px;
      width: 400px;
      max-width: 50vw;
    }

    @media (max-width: 720px) {
      .form-wrap {
        flex-direction: column-reverse;
      }
      .illustration {
        margin-right: 0;
        margin-top: 20px;
        max-width: 100vw;
      }
    }


  }


  section.photos {
    padding: 100px 0;
    background-color: $dark-grey;

    .photos {
      padding: 20px;
      flex-wrap: wrap;
    }
    .photo {
      flex: 0 0 25%;
      margin-bottom: -5px;
      transition: filter 200ms ease-in-out;
      img {
        border: 1px solid $dark-grey;
        max-width: 100%;
        height: auto;
      }
      &:hover,&:focus,&:active {
        filter: brightness(1.2);
      }
    }
    .more {
      margin: 30px 0;
      color: $stone;
      font-size: 1.3em;
      text-decoration: none;
      transition: color 200ms ease-in-out;
      &:hover,&:focus,&:active {
        color: white;
      }
    }
    @media(max-width: 870px) {
      .photo {
        flex: 0 0 33%;
      }
    }
    @media(max-width: 670px) {
      .photo {
        flex: 0 0 50%;
      }
    }
  }

  section.decor-banner {
    background-color: $dark-grey;
    .container { padding: 0; }
    img {
      width: 100%;
      height: auto;
    }
  }

  .filler {
    height: 500px;
  }

}

