---
# Main Sass file
---

// Sizes
$desktop-width:         1200px;
$laptop-width:          900px;
$tablet-width:          768px;
$mobile-width:          600px;
$min-width:             375px;
$max-text-width:        700px;

@import "_normalize";
@import "_fonts";
@import "_base";